<!DOCTYPE html>
<html lang="en">
<head>


    {% load static %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'vacations/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vacations/css/vacation.css' %}"/>
    <script type="text/javascript" src="{% static 'vacations/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vacations/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vacations/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vacations/google-chart/loader.js' %}"></script>

    <script>

        function openAddEmployeeModal() {
            $('#addEmployeeModal').modal('show');
        }

        function openLoginModal() {
            if ('{{ user }}' === 'AnonymousUser') {
                $('#loginModal').modal('show');
            } else {
                window.location.replace("{% url 'chart' %}");
            }

        }
    </script>

    {% block script %}
    {% endblock %}

</head>
<body class="content-fade black-body">
<nav class="py-2 my-nav">
    <div class="container">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-black navbar-text " href="#"></a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-3 text-3-menu" href="{% url 'index' %}">Главная</a>
                </li>

                <!-- Кнопка график отпусков -->
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="#" onclick="openLoginModal()">График отпусков</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="{% url 'chart' %}">График отпусков</a>
                    </li>
                {% endif %}

                <!-- Кнопка список сотрудников -->
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="#" onclick="openLoginModal()">Список
                            сотрудников</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="{% url 'employees' %}">Список сотрудников</a>
                    </li>
                {% endif %}

                <!-- Кнопка аутентификации -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="{% url 'change_password' %}">Сменить пароль</a>
                    </li>
                {% endif %}

                <!-- Кнопка аутентификации -->
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="#" onclick="openLoginModal()">Вход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-3 text-3-menu" href="{% url 'logout' %}">Выйти</a>
                    </li>
                {% endif %}


            </ul>

        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}

</div>


<!-- Модальное окно логина -->

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="text-transform: uppercase;">Вход</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body" id="modalBody">
                    <p class="text-3" style="text-transform: uppercase;">Имя пользователя</p>
                    {{ login_form.username }}
                    <p class="text-3" style="text-transform: uppercase; margin-top: 25px">Пароль</p>
                    {{ login_form.password }}
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-outline-primary" value="Войти">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>