{% extends "vacations/base.html" %}

{% block title %}
    График отпусков
{% endblock %}

{% block script %}
    <script type="text/javascript">


        google.charts.load("current", {packages: ["timeline"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var container = document.getElementById('timelines');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            var line_year = {{ year }};

            dataTable.addColumn({type: 'string', id: 'Name'});
            dataTable.addColumn({type: 'string', id: 'Description'});
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});
            dataTable.addColumn({type: 'string', role: 'tooltip', id: 'link', 'p': {'html': true}});
            dataTable.addColumn({type: 'string', role: 'tooltip', id: 'status', 'p': {'html': true}});
            //dataTable.addRows([
            //    ['Сотрудник 1', new Date(2023, 0, 1), new Date(2023, 0, 25), 'test'],
            //    ['Сотрудник 1', new Date(2023, 3, 30), new Date(2023, 3, 31), 'test'],
            //]);
            dataTable.addRows([['\0', 'Сегодня', new Date(), new Date(), 'test', 'test2status']]);
            {% for employee in data %}
                dataTable.addRows([
                    ['{{employee.employee}}', '',
                        new Date({{ employee.vacation_start.year }}, ({{ employee.vacation_start.month}}-1), {{ employee.vacation_start.day }}),
                        new Date({{ employee.vacation_end.year }}, ({{ employee.vacation_end.month }}-1), {{ employee.vacation_end.day }}),
                        '{{ employee.id }}', "{% cycle 'CategoryA' 'CategoryB' 'CategoryC' %}"
                    ]
                ]);
            {% endfor %}

            console.log(dataTable.getFormattedValue(0, 1))
            console.log(dataTable.getProperties(0, 1))
            dataTable.setRowProperty(1, 'style', 'border: 1px solid green')


// set a padding value to cover the height of title and axis values
            var paddingHeight = 40;
// set the height to be covered by the rows
            var rowHeight = dataTable.getNumberOfRows() * 50;
// set the total chart height
            var chartHeight = rowHeight + paddingHeight;

            var colors = [];
            var colorMap = {
                // should contain a map of category -> color for every category
                CategoryA: '#F23030',
                CategoryB: '#F29F05',
                CategoryC: '#267365'
            }

            for (var i = 1; i < dataTable.getNumberOfRows(); i++) {
                colors.push(colorMap[dataTable.getValue(i, 5)]);
            }
            console.log(colors)

            var options = {
                //backgroundColor: '#E4E4E4',
                allowHtml: true,
                colors: colors,
                height: chartHeight,
                hAxis: {
                    minValue: new Date(line_year, 0, 1),
                    maxValue: new Date(line_year + 1, 0, 1),
                },
                tooltip: {
                    isHtml: true,
                    trigger: 'selection'
                },


            };

            function modalWindow() {
                var selection = chart.getSelection();
                if (selection.length > 0) {

                    var start_vacation_date = dataTable.getValue(selection[0].row, 2);

                    var start_day = start_vacation_date.getDate(),
                        start_month = Number(start_vacation_date.getMonth() + 1),
                        start_year = start_vacation_date.getFullYear();

                    start_month = (start_month < 10 ? "0" : "") + start_month;
                    start_day = (start_day < 10 ? "0" : "") + start_day;
                    var start_to_calendar = start_year + "-" + start_month + "-" + start_day;

                    var end_vacation_date = dataTable.getValue(selection[0].row, 3);

                    var end_day = end_vacation_date.getDate(),
                        end_month = Number(end_vacation_date.getMonth() + 1),
                        end_year = end_vacation_date.getFullYear();

                    end_month = (end_month < 10 ? "0" : "") + end_month;
                    end_day = (end_day < 10 ? "0" : "") + end_day;
                    var end_to_calendar = end_year + "-" + end_month + "-" + end_day;


                    document.getElementById("detailsModalLabel").innerText = dataTable.getValue(selection[0].row, 0);
                    document.getElementById("start_date").innerText = (start_day + "." + start_month + "." + start_year);
                    document.getElementById("end_date").innerText = (end_day + "." + end_month + "." + end_year);
                    document.getElementById("id_vacation").innerText = dataTable.getValue(selection[0].row, 4)

                    document.getElementById("count_days").innerText =
                        (Math.round((end_vacation_date - start_vacation_date) / (1000 * 60 * 60 * 24) + 1));

                    document.getElementById("delete-id").value = String(dataTable.getValue(selection[0].row, 3));


                    document.getElementById("input-date-start").value = start_to_calendar;
                    console.log(dataTable.getValue(selection[0].row, 2));

                    document.getElementById("input-date-end").value = end_to_calendar;

                    console.log(start_to_calendar);
                    console.log(end_to_calendar);


                    $('#detailsModal').modal('show');

                }
            }

            google.visualization.events.addListener(chart, 'select', modalWindow);

            function drawTimelineChart() {
                chart.draw(dataTable, options);

                nowLine('timelines');
                google.visualization.events.addListener(chart, 'onmouseover', function (obj) {
                    nowLine('timelines');
                })

                google.visualization.events.addListener(chart, 'onmouseout', function (obj) {
                    nowLine('timelines')
                });

                for (let year = 2022; year <= 2035; year++) {
                    let options = document.createElement("OPTION");
                    document.getElementById("year").appendChild(options).innerHTML = year;
                }
            }

            function nowLine(div) {
                var abc = parseFloat($('#' + div + '  text:contains("Сегодня")').attr('x'));

                var height;
                $('#' + div + ' rect').each(function (index) {
                    var x = parseFloat($(this).attr('x'));
                    var y = parseFloat($(this).attr('y'));


                    if (x == 0 && y == 0) {
                        height = parseFloat($(this).attr('height'))

                    }
                })
                var nowWord = $('#' + div + ' text:contains("Сегодня")');

                //$('#' + div + '  text:contains("Сегодня")').each(function (idx, value) {
                //  if (idx == 0) {
                //    $(value).parent().find("rect").first().removeAttr("style");
                //} else if (idx == 1) {
                //    $(value).parent().find("rect").first().attr("style", "display:none;");
                //}

                //});

                nowWord.prev().first().attr('height', height + 'px').attr('width', '2px').attr('y', '0').attr('fill', 'red');
                //nowWord.attr('display', 'none')
            }

            drawTimelineChart();


        }

        function textToInput() {
            $('#detailsModal').modal('hide');
            $('#editModal').modal('show');
            document.getElementById("change-id").value = document.getElementById("delete-id").value
            console.log(document.getElementById("change-id").value)
        }

        function showFiltersModal() {
            for (let year_form = 2022; year_form <= 2030; year_form++) {
                let options = document.createElement("OPTION");
                document.getElementById("year_form").appendChild(options).innerHTML = year_form;
                document.getElementById("year_form").appendChild(options).value = year_form;
            }
            $('#filtersModal').modal('show');
        }

        function openAddModal() {
            $('#addModal').modal('show');
        }


    </script>

{% endblock %}



{% block content %}

    <div class="row" style="height: 60px">
        <div class="col-10">
            <div style="margin-top: 15px; margin-bottom: 20px">
                <h2 class="text-1" style="text-transform: uppercase;"> График отпусков</h2>
                <h2 class="text-1-year" onclick="showFiltersModal()">{{ year }}</h2>
            </div>
        </div>

        {% if flag_add_vacation == True %}
            <div class="col">
                <div class="justify-content-end">
                    <h6 onclick="openAddModal()" class="text-5-book"
                        style="text-align: end; text-transform: uppercase;">
                        Добавить</h6>
                </div>
            </div>
        {% endif %}
    </div>
    {% if permission == 1 or permission == 2 %}
    <div class="row">
        <div class="col-10">
            <div style="margin-bottom: 20px">
                <h6 onclick="showFiltersModal()" class="text-5-book"
                    style="text-transform: uppercase; text-align: start; margin-top: 0px">Настроить фильтры ⧩</h6>
            </div>
        </div>
    </div>
    {% endif %}

    <div>
        <div id="timelines" style="height: 100%;"></div>
    </div>

    <!-- Модальное окно для вывода данных по отпуску-->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" style="display: inline">Детали записи</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body" id="modalBody">
                        <h5 class="text-2" id="detailsModalLabel">Фамилия имя отчество</h5>
                        <a>Дата начала отпуска: <p class="text-2" id="start_date"></p></a>
                        <a>Дата окончания отпуска: <p class="text-2" id="end_date"></p></a>
                        <a>Количество дней: <p class="text-2" id="count_days"></p></a>
                        <p class="text-index-book" style="display: inline; font-size: 12px;">id записи:</p><p id="id_vacation" style="display: inline; font-size: 12px;"></p>
                    </div>
                    <div class="modal-footer">
                        <input hidden type="text" name="delete-id" id="delete-id">
                        {% if flag_add_vacation == True %}
                            <input type="submit" class="btn btn-outline-danger" value="Удалить">
                            <button onclick="textToInput()" type="button" class="btn btn-outline-primary">Редактировать
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Закрыть</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования данных по отпуску-->

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Редактирование записи</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body" id="modalBody">
                        <p>Дата начала отпуска: <input type="date" id="input-date-start" name="input-date-start"/>
                        </p>
                        <p>Дата окончания отпуска: <input type="date" id="input-date-end" name="input-date-end"/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input hidden type="text" name="change-id" id="change-id">
                        <input type="submit" class="btn btn-outline-success" value="Изменить">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Модальное окно для добавления данных по отпуску-->
    {% if flag_add_vacation == True %}
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Добавить запись</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'add-vacation' %}">
                        {% csrf_token %}
                        <div class="modal-body" id="modalBody">
                            {{ form_add_vacation }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена
                            </button>
                            <input type="submit" class="btn btn-outline-primary" value="Создать">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


    <!-- Модальное окно фильтров-->

    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Фильтрация записей</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'user-filter' %}">
                    {% csrf_token %}
                    <div class="modal-body" id="modalBody">
                        <p class="text-3" style="text-transform: uppercase; margin-bottom: 0px">Год:</p>
                        <select class="form-select" name='year' id="year_form">
                            <option value style="display:none">Выбрать год</option>
                        </select>

                        {% if permission == 1%}
                        <p class="text-3" style="text-transform: uppercase; margin-bottom: 0px">Управление</p>
                        {{ filter_form.department_filter }}
                        {% endif %}
                        {% if permission == 1 or permission == 2 %}
                        <p class="text-3" style="text-transform: uppercase; margin-bottom: 0px; text-align: center">Или</p>
                        <p class="text-3" style="text-transform: uppercase; margin-bottom: 0px">Отдел</p>
                        {{ filter_form.command_number_filter }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger"
                                onclick="location.href='{% url "user-filter-clear" %}'">Сбросить
                        </button>
                        <input type="submit" class="btn btn-outline-success" value="Фильтровать">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
